.Button {
  background: #bbb;
  border: 4px solid black;
  display: flex;
  font-size: 35px;
  line-height: 35px;

  &.Active {
    background: #77f;
  }
}
.Button-Inner {
  border-top: 8px solid #ddd;
  border-left: 8px solid #ddd;
  border-bottom: 8px solid #999999;
  border-right: 8px solid #999999;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .Active & {
    border-top: 8px solid #99f;
    border-left: 8px solid #99f;
    border-bottom: 8px solid #55b;
    border-right: 8px solid #55b;
  }
}

.Button-Inner .Text {
  padding: 5px;
  margin: 0;
  text-align: center;
  text-shadow: #eee -2px -2px;
  & .Active & {
    text-shadow: #bbb -2px -2px;
  }
}
