body {
  background-image: url("background.png");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Pixellari";
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  cursor: url("./cursor.png"), default;
}
